@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

<div>
    <div class="col-md-12 headerTop">

        <h1 id="who"><b>Who Do You Want To Travel With?</b></h1>

        <div class="search">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-section">
                            <div class="row">
                                <form role="form">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="location">Location</label>
                                            <input type="email" class="form-control" id="location" placeholder="Where ?">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="checkin">Check in</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="checkin" placeholder="Check in">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="checkout">Check out</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="checkout" placeholder="Check out">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="guest">Guest</label>
                                            <select id="guest" name="guest" class="form-control">
                                                <option value="1">1 Guest</option>
                                                <option value="2">2 Guests</option>
                                                <option value="3">3 Guests</option>
                                                <option value="4">4 Guests</option>
                                                <option value="5">5 Guests</option>
                                                <option value="6">6+ Guests</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="button" type="submit" value="sumbit">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">

        <h2 style="color: black;"><b>Solo Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/bali-island-1.jpg" />
                </a>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/bali-island-1.jpg" />
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/Images/bali-island-1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <h2 style="color: black;"><b>Friends Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/bali-island-1.jpg" />
                </a>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/bali-island-1.jpg" />
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/Images/bali-island-1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <h2 style="color: black;"><b>Family Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/bali-island-1.jpg" />
                </a>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/bali-island-1.jpg" />
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/Images/bali-island-1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <h2 style="color: black;"><b>Group Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/bali-island-1.jpg" />
                </a>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/bali-island-1.jpg" />
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="~/Content/Images/bali-island-1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@