@{
    ViewBag.Title = "Home Page";
}

<link href="@Url.Content("~/Content/HomePage.css")" rel="stylesheet" type="text/css" />

<div class="container-fluid topPage">
    <div class="col-xs-12 headerTop">

        <h1 id="who"><b>Who Do You Want To Travel With?</b></h1>

        <!--Search Bar-->
        <div class="search">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-section">
                            <div class="row">
                                <form role="form">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="sr-only" for="location">Location</label>
                                            <input type="email" class="form-control" id="location" placeholder="Where ?">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="checkin">Check in</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="checkin" placeholder="Check in">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="checkout">Check out</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="checkout" placeholder="Check out">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="sr-only" for="guest">Guest</label>
                                            <select id="guest" name="guest" class="form-control">
                                                <option value="1">1 Guest</option>
                                                <option value="2">2 Guests</option>
                                                <option value="3">3 Guests</option>
                                                <option value="4">4 Guests</option>
                                                <option value="5">5 Guests</option>
                                                <option value="6">6+ Guests</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="button" type="submit" value="sumbit">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="container">
        <div class="col-md-6">
            <h3>We can help you travel next</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>

        <div class="col-md-6">
            <a href="http://www.facebook.com" target="_blank">
                <img class="img-responsive" src="~/Content/Images/8c73df51583bf9630f5e77879b427ded.jpeg" id="travelTrend" />
            </a>
        </div>
    </div>
</div>

<!--Top Choices-->
<div>
    <div class="container">
        <h2 style="color: black;"><b>Solo Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>
        </div>


        <h2 style="color: black;"><b>Friends Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>
        </div>


        <h2 style="color: black;"><b>Family Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>
        </div>

        <h2 style="color: black;"><b>Group Travelers Top Choices</b></h2>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>

            <div class="col-sm-3">
                <a href="#" class="thumbnail">
                    <img src="~/Content/Images/aria-hotel-budapest.jpg" />
                </a>
                <p>Budapest</p>
            </div>
        </div>
    </div>
</div>