
body {
    padding-top: 50px;
    padding-bottom: 20px;
    cursor: pointer;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Nav bar background */
.navbar-inverse { 
    background-color: white !important; 
    border-color: white;
}

/*.navbar-brand { color: black !important }
.nav.navbar-nav li a { color: black; }*/




/* Thumbnail Stuff*/
.row {
    padding-top: 10px;
}

.card .thumbnail {
    padding: 0;
    border: none;
    text-align: center;
    border-radius: 15px;
}